<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App - Todos</title>
</head>
<body>
  <h1>Todos</h1>
  <ul>
    {{#each todos}}
      <li><a href="/todos/{{this._id}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
  <a href="/todos/new">Create a new Todo</a>
</body>
</html>
